# Copia este archivo como .env y edita los valores
# NUNCA subas el archivo .env a Git

MENSAJE_PERSONALIZADO=¡Bienvenido a mi aplicación desplegada en Azure!
AUTOR= Jose Uriel Villalbos Medina
PORT=3000
